.robosoft {

  background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
  height: 90vh;
  width: 100vw;
}

.credentials {
  background: white;
  margin-bottom: 30px;
  width: 535px;
  height: 385px;
  position: absolute;
  margin-top: 20%;
  margin-left: 30%;
  padding: 3px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.267);
}


.input1 {
  margin-left: 100px;
  margin-top: 15px;
  font-size: 16px;

}

.input2 {
  margin-left: 100px;
  font-size: 16px;
}

.input1 {

  mat-form-field {
    width: 350px;
  }

  mat-label {
    letter-spacing: 0.1px;
    font-size: 16px;
  }

}

.input2 {

  mat-form-field {
    width: 350px;
  }

  mat-label {
    letter-spacing: 0.1px;
    font-size: 16px;
  }

}

h6 {
  font-size: 23px;
  font-weight: lighter;
  margin-left: 32%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 2%;
  padding-bottom: 2%;
  padding-top: 5%;
}

.close {
  margin-top: -58px;
  margin-right: 20px;
  font-size: 45px;
  color: #000000;

  &:focus {
    outline: none;
  }

}

.update {
  height: 48px;
  width: 149px;
  background-color: #D92756;
  border: none;
  border-radius: 30px;
  margin-left: 200px;
  margin-top: 10px;
  color: #FFFFFF;

  &:focus {
    outline: none;
  }
}
