<app-header></app-header>

<div class="robosoft">

  <div class="credentials">

    <h6>Change Password</h6>
    <button type="button" class="close" routerLink="/details" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <form [formGroup]="changepassword">
    <div class="input1">
      <mat-form-field appearance="outline">
        <mat-label>Enter New Password</mat-label>
        <input matInput formControlName="newPassword" placeholder="Enter New Password" type="password" >
      </mat-form-field>
    </div>
    <div class="input2">
      <mat-form-field appearance="outline">
        <mat-label>Re-Enter New Password</mat-label>
        <input matInput formControlName="reEnterPassword" placeholder="Re-Enter Password"  type="password">
      </mat-form-field>
    </div>
   
    <button class="update" (click)="verifypassword()" >
      Update
    </button>


</form>
  </div>
</div>
