<app-header></app-header>

<div class="robosoft">

    <div class="credentials">
        
        <h6>Change Password</h6>
        <button type="button" class="close" routerLink="/policy-page" aria-label="Close">
           <span aria-hidden="true">&times;</span>
        </button>
            
        <div class="input1">
            <mat-form-field appearance="outline">
              <mat-label>Enter New Password</mat-label>
              <input matInput placeholder="Enter New Password" value=""/>
              </mat-form-field>
           </div>   
        <div class="input2">
         <mat-form-field appearance="outline">
              <mat-label>Re-Enter New Password</mat-label>
              <input matInput placeholder="Re-Enter Password" name="password" value=""/>
         </mat-form-field>
         </div>
      
    
      
      <button class="update">
         Update
      </button>
      
         
      
    </div>
</div>