
<div class="robosoft">

    <div class="credentials">
        
        <h6>Login</h6>
            
        <div class="input1">
            <mat-form-field appearance="outline">
              <mat-label>Enter Username</mat-label>
              <input matInput placeholder="Enter Username" value=""/>
              </mat-form-field>
           </div>   
        <div class="input2">
         <mat-form-field appearance="outline">
              <mat-label>Enter Password</mat-label>
              <input matInput placeholder="Enter Password" name="password" value=""/>
         </mat-form-field>
         </div>
      
    
      
      <div class="login" routerLink="/details">
      <img src="../../assets/FAB.png" alt="">
      </div>
      
         <div class="password" routerLink="/pass">
        <p>Forgot Password?</p>
         </div>
      
    </div>
</div>
  

