
    <h1>Add/Remove Admins</h1>

<div class="details">
<mat-form-field appearance="outline" style="width: 180px;">
    <mat-label>Enter Name </mat-label>
    <input matInput placeholder="Enter Name" value=""/>
    </mat-form-field>
    </div>
    <div class="details">
    <mat-form-field appearance="outline" style="width:180px;">
        <mat-label>Enter Employee Code</mat-label>
        <input matInput placeholder="Enter Employee Code" value=""/>
        </mat-form-field>
        </div>
        <div class="details">
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Enter Mail ID</mat-label>
            <input matInput placeholder="Enter Mail ID" value=""/>
            </mat-form-field>
            </div>
            <button class="button">+</button>
               
            <div mat-dialog-actions>
                <button class="close" mat-button mat-dialog-title (click)="closeDialog()">X</button>
              </div>  
                 
