.questionnaire {
  height: 886px;
  width: 900px;
  background-color: #FFFFFF;
  border-radius: 12px;
  margin: 20px 40px 20px -70px;
  box-shadow: 0 4px 40px 0 rgba(217, 39, 86, 0.08);

  .rectangle {
    height: 380px;
    width: 2px;
    border-radius: 1px;
    background-color: #D92756;
    margin-left: 645px;
    margin-top: -835px;
  }

  h1 {
    opacity: 0.77;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    margin-left: 30px;
    padding-top: 20px;
  }

  mat-form-field {
    width: 597px;
    margin-left: 30px;
    opacity: 0.9;
    padding: 5px 5px 5px 5px;

    input {
      letter-spacing: 0.15px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.87);
      padding: 5px 5px 5px 5px;
    }

    mat-label {
      font-size: 14px;
      letter-spacing: 0.6px;

    }
  }

  p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    margin-left: 50px;
    margin-top: -25px;


  }

  .description {
    mat-form-field {

      mat-label {
        font-size: 14px;
      }

      input {
        font-size: 16px;
        padding-bottom: 2px;
      }

      .description1 {
        input {
          padding-bottom: 30px;
        }
      }
    }
  }

  .button-title {
    mat-form-field {
      width: 283px;
      margin-top: 12px;
    }

    mat-label {
      font-size: 14px;
    }

  }

  .check-box {
    mat-form-field {
      width: 597px;
      margin-top: 12px;
    }

    mat-label {
      font-size: 14px;
    }
  }

  .date {

    mat-form-field {

      width: 179px;
      margin-top: -12px;

      .icon-pink {
        color: #D92756;
        cursor: pointer;
      }

    }

    mat-label {
      font-size: 13px;
    }

    input {
      margin-top: -20px;
    }


    .days {
      float: right;
      margin-top: -14px;
      margin-left: 103px;
      color: rgba(0, 0, 0, 0.6);
      opacity: 0.7;
      font-size: 16px;
      letter-spacing: 0.15px;
    }
  }

  .file {
    mat-form-field {
      width: 285px;
      margin-top: 12px;
    }

    img {
      float: right;
      margin-top: -27px;
    }

    mat-label {
      font-size: 14px;
    }

    .icon-color {
      color: #D92756;
      cursor: pointer;
    }

  }

  .mail {
    mat-form-field {
      width: 597px;

      mat-label {
        font-size: 14px;
      }

      input {
        font-size: 16px;

      }

    }
  }


  .options {


    img {

      margin-top: 13px;
      margin-right: 150px;
    }

    h6 {

      margin-right: -2px;
      margin-top: -21px;
      color: #D92756;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.25px;
    }

    .box {
      height: 48px;
      width: 210px;
      background-color: #FDF4F6;
      margin-left: 668px;
      position: absolute;
      margin-top: -375px;
      border-radius: 10px;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      h6 {
        margin-right: 62px;
      }
    }


    .box1 {
      height: 48px;
      width: 210px;
      background-color: #FDF4F6;
      margin-left: 668px;
      position: absolute;
      margin-top: -306px;
      border-radius: 10px;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      h6 {
        margin-right: 32px;
      }



    }

    .box2 {
      height: 48px;
      width: 210px;
      background-color: #FDF4F6;
      margin-left: 668px;
      position: absolute;
      margin-top: -235px;
      border-radius: 10px;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      h6 {
        margin-right: 40px;
      }



    }

    .box3 {
      height: 48px;
      width: 210px;
      background-color: #FDF4F6;
      margin-left: 668px;
      position: absolute;
      margin-top: -163px;
      border-radius: 10px;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      h6 {
        margin-right: 40px;
      }



    }

    .box4 {
      height: 48px;
      width: 210px;
      background-color: #FDF4F6;
      margin-left: 667px;
      position: absolute;
      margin-top: -91px;
      border-radius: 10px;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      h6 {
        margin-left: 40px;
      }

    }
  }

}

.toggle-options-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  float: right;
  margin-right: 1em;
  z-index: 2;

  .fab-button-container {
    position: relative;
    margin-top: 380px;

    .fab-button {
      background-color: #D92756;
      box-shadow: 2px 2px 8px palevioletred;

      &:focus {
        outline: none;
      }
    }


  }

  .toggle-options {
    position: absolute;
    bottom: 100px;



    .display {



      border-radius: 24px;
      background-color: #FCF4F6;
      width: 194.6px;
      height: 33.6px;
      margin: 0.5em;
      margin-bottom: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #D92756;
      font-family: Roboto;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0.88px;
      line-height: 11.2px;
      text-align: center;
      outline: none;
      cursor: pointer;


    }
  }
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  ;
  z-index: 1;
  cursor: pointer;
}

.display1 {

  button {

    background-color: #FCF4F6;
    width: 194.6px;
    height: 33.6px;
    border-radius: 24px;
    margin: 0.5em;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D92756;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.88px;
    line-height: 11.2px;
    text-align: center;
    outline: none;
    cursor: pointer;



  }
}
